<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_Validation</servlet-name>
        <servlet-class>Do_Validation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_user</servlet-name>
        <servlet-class>logout_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileupload</servlet-name>
        <servlet-class>fileupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do_dealer_add_cab_image</servlet-name>
        <servlet-class>do_dealer_add_cab_image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>SendMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_Validation</servlet-name>
        <url-pattern>/Do_Validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_user</servlet-name>
        <url-pattern>/logout_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileupload</servlet-name>
        <url-pattern>/fileupload</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded cab images</description>
        <param-name>cabimage-upload</param-name>
        <param-value>C:\Users\HP\Documents\NetBeansProjects\CabBook\web\demoimages\
 </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>do_dealer_add_cab_image</servlet-name>
        <url-pattern>/do_dealer_add_cab_image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
